body{
  margin: 0;
  padding: 0;
  outline: 0;
  overflow: hidden;
  background-attachment: fixed;
  background-color: #175E95;
  background-size: cover !important;
   -webkit-background-size: cover !important;
   -moz-background-size: cover !important;
   -o-background-size: cover !important;
}

/*******************Slider*************************/
.slider{
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider ul{
  display: flex;
  padding: 0;
  width: 1000%;
  list-style: none;
  animation: change 50s infinite alternate;
  background-attachment: fixed;
}

.slide li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
}

@keyframes change {
  9% { margin-left: 0;}
  10% { margin-left: 0;}

  19% {margin-left: -100%;}
  20% {margin-left: -100%;}

  29% {margin-left: -200%;}
  30% {margin-left: -200%;}

  39% {margin-left: -300%;}
  40% {margin-left: -300%;}

  49% {margin-left: -400%;}
  50% {margin-left: -400%;}

  59% {margin-left: -500%;}
  60% {margin-left: -500%;}

  69% {margin-left: -600%;}
  70% {margin-left: -600%;}

  79% {margin-left: -700%;}
  80% {margin-left: -700%;}

  89% {margin-left: -800%;}
  90% {margin-left: -800%;}

  99% {margin-left: -900%;}
  100% {margin-left: -900%;}
}

/*********************Menu***********************/
.sidebar{
  text-align: center;
  width: 170px;
  height: 70%;
  position: absolute;
  background: #1F86D5;
  color: #fff;
  outline: 1px solid #175E95;
  /*overflow-x: hidden; /*scroll horizontal*/
  overflow-y: scroll; /*scroll vertical*/
}

.sidebar h2{
  text-align: center;
  font-size: 1rem;
  margin: 0;
  padding: 5px;
  background: #175E95;
  color: #fff;
  font-family: Sitka;
  font-weight: bold;
  font-style: italic;
}

.sidebar ul{
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Sitka;
  font-weight: bold;
  font-style: italic;
}

.sidebar li{
  outline: 1px solid #175E95; /*Genera lineas que no ocupen espacio*/
  transition: border 0.3s;
}

.sidebar li:hover{
  background: #175E95;
  border-left: 5px solid #eee;
}

.sidebar a{
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 3px;
}

.contenido{
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("img/fondo-principal.jpg");
  background-size: cover !important;
   -webkit-background-size: cover !important;
   -moz-background-size: cover !important;
   -o-background-size: cover !important;
  padding: 10px;
  transition: all 0.3s;
  box-sizing: border-box;
  font-family: Sitka;
}


.contenido h1{
  text-align: center;
  font-size: 3rem;
  font-family: Pokemon;
  margin: -50px;
  padding: 0;
  -webkit-text-fill-color: #fde007;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: #4358b1;
  text-shadow: 7px 5px 5px #110033;
}

.menu-bar{
  cursor: pointer;
}

.abrir{
  transform: translateX(170px);
}

/********************Buscador**********************/
.box{
  position: absolute;
  margin: 0px;
  margin-right: 92%;
  margin-left: 8%;
  overflow: hidden;
  transform: translateY(-50%, -50%);
}

input.src{
  padding: 5px 5px 5px 32px;
  outline: none;
  font-size: 13px;
  border-radius: 15px;
  color: #444;
  border: 3px solid #175E95;
  background: #175E95 url("img/Lupa.png") no-repeat 9px center;
  width: 40px;/*tamaño del placeholder antes de la animacion*/
  transition: all .5s;
}

input.src:hover{
  width: 180px;/*tamaño del placeholder despues de la animacion*/
  background-color: #0f002d;
  border-color: #0f002d;
  box-shadow: 0 0 5px #6dcff680;
}

input::placeholder{
  color: #fff;
}

/******************Titulo Pokemon*****************/
@font-face {
  font-family: Pokemon;
  src: url(img/Pokemon.ttf);
}

@font-face {
    font-family: Sitka Display;
    src: url(img/Sitka.ttf);
}
